h1 {
    color: red;
}
body{
    margin:0px;
    padding:0px;
}
.navbar {
    border: 1px solid black;
    background-color: #444;
}
.navbar a{
    color: #FFFFFF;
    text-decoration:none;
    padding: 10px;
}
.navbar a:hover{
    color: #666;
    padding: 10px;
}