h1 {
    color: red;
}
body{
    margin:0px;
    padding:0px;
}
.navbar {
    background-color: #444;
}
.navbar a{
    color: #FFFFFF;
    text-decoration:none;
    padding: 10px; 
}
.navbar a:hover{
    color: yellow;
    /* padding: 10px; */
}